{% extends '::base.html.twig' %}

{% block title %}Preguntas ABM{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Gimmie questions:
        </div>
        <div class="panel-body">
            aca va el formeo
        </div>
    </div>
{% endblock %}