{% extends 'AoshidowebBundle:Preguntas:index.html.twig' %}

{%block navPreg %} active {% endblock %}
{%block tabPreg %} active {% endblock %}

{% block Preguntas %} 
    <div class="container">
        Aca va el contenido de preguntas y la pija
        {{ form(form)}}
    </div>
{% endblock %}