{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Preguntas por carrera</h3>
        </div>

        <div class="box-body">
            <div id="donut-example" style="height: 250px;"></div>
        </div>

        <script>
            $.getScript('http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js', function () {
                $.getScript('http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js', function () {

                    Morris.Donut({
                        element: 'donut-example',
                        data: [
                            {% for key, pregunta in preguntasPorCarrera %}
                            {label: "{{key}}", value: {{pregunta}}},
                            {% endfor %}
                        ]
                    });
                });
            });
        </script>
    {% endblock %}