{% extends '::base.html.twig' %}

{% block title %}Game Settings{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>404</h1>
        <h2>Url no encontrada</h2>

        <p>
            La pagina que pidio no pudo ser encontrada. Revise que no tenga ningun
            error de tipeo o <a href="{{ path('aoshidoweb_homepage') }}">vuelva al inicio</a>.
        </p>
        
    </div>
{% endblock %}