{% extends '::base.html.twig' %}

{% block title %}Game Settings{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>503</h1>
        <h2>Error interno temporal</h2>

        <p>
            Este puede ser un error temporal, o puede ser que algo se rompio
            y parece un error temporal.
        </p>
        
    </div>
{% endblock %}