{% extends '::base.html.twig' %}

{% block title %}Game Settings{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>503</h1>
        <h2>Error interno temporal</h2>

        <p>
            Este puede ser un error temporal, o puede ser que algo se rompio
            y parece un errore temporal.
            De cualquier manera, hacenos llegar la siguiente informacion por favor:
        </p>
        
        <p>
            {{status_code}}
            {{status_text}}
        </p>
        
    </div>
{% endblock %}