{% extends '::base.html.twig' %}
{% block title %}Preguntas ABM{% endblock %}

{% block content %}
    <div class="jumbotron alpha60 container-fluid">
        {% block breadcrumbs %}
            <ul class="breadcrumb">
                <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
            </ul>
        {% endblock %}

        <h2>{% block section %} {% endblock %}</h2>

        {% block abms_contenido %}
        {% endblock %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '../app/Resources/public/js/jquery.popconfirm.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}