{% extends '::base.html.twig' %}

{% block title %}Preguntas ABM{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <div class="container-fluid">
            <h2>ABMS:</h2>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <!-- menu -->
                    <div id="MainMenu">
                        <div class="list-group panel">
                            <a href="{{path('abms_preguntas')}}" class="list-group-item list-group-item-info" data-parent="#MainMenu">Preguntas</a>
                            <a href="#" class="list-group-item list-group-item-info" data-parent="#MainMenu">Respuestas</a>
                            <a href="{{path('abms_temas')}}" class="list-group-item list-group-item-info" data-parent="#MainMenu">Temas</a>
                            <a href="#" class="list-group-item list-group-item-info" data-parent="#MainMenu">Materias</a>
                            <a href="{{path('abms_carreras')}}" class="list-group-item list-group-item-info" data-parent="#MainMenu">Carreras</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    {% block abms_contenido %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}