<div class="feedback left">
    <div class="tooltips">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-primary dropdown-toggle btn-circle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bug fa-2x" title="Report Bug"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                <li>
                    <div id="bugsplat_report" class="report">
                        <h2 class="text-center">Reportar Bug</h2>
                        <form id="bugsplat_form" name="bugsplat_form" class="doo" method="POST" action="{{path('aoshidoweb_bugsplat')}}">
                            <div class="col-sm-12">
                                <textarea required name="comment" class="form-control" placeholder="Por favor cuentenos que problema encontro, incluya todos los detalles posibles."></textarea>
                                <input name="screenshot" type="hidden" class="screen-uri">
                                <span id="screenshot" class="screenshot pull-right">
                                    Capturar Pantalla
                                    <i class="fa fa-camera cam" title="Capturar pantalla"></i>
                                </span>
                            </div>
                            <div class="col-sm-12 clearfix">
                                <button class="btn btn-primary btn-block">Enviar Reporte</button>
                            </div>
                        </form>
                    </div>
                    <div id="bugsplat_loading" class="loading text-center hideme">
                        <h2>Espere...</h2>
                        <h2><i class="fa fa-refresh fa-spin"></i></h2>
                    </div>
                    <div id="bugsplat_reported" class="reported text-center hideme">
                        <h2>Gracias!</h2>
                        <p>Su reporte fue recibido, lo contactaremos pronto.</p>
                        <div class="col-sm-12 clearfix">
                            <button class="btn btn-success btn-block do-close">Cerrar</button>
                        </div>
                    </div>
                    <div id="bugsplat_failed" class="failed text-center hideme">
                        <h2>Oh no!</h2>
                        <p>Parece que su reporte no pudo ser enviado.<br><br>
                            <a href="mailto:me@aoshido.com">Pruebe contactandonos a la antigua.</a>
                        </p>
                        <div class="col-sm-12 clearfix">
                            <button class="btn btn-danger btn-block do-close">Cerrar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


