El usuario [Aca va ir el usuario dps] a las {{time}} <br>
<h3>Reporto lo siguiente</h3><br>
{{comment}}<br>
<h3>Adjunto la siguiente captura</h3><br>
<img width="100" height="100" src="{{screen}}">
{{screen}}
