<h1>Se registro el siguiente usuario:</h1>
<div class="panel">
    <table class="table table-condensed">
        <tr>
            <td id="{{user.password}}">{{user.username}}</td>
        </tr>
        <tr>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>