<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Distribuicion de Preguntas
        </div>
        <div class="row collapse" id="pies">
            <div class="col-xs-1 col-xs-offset-3">Ratio</div>
            <div class="col-xs-2 border-right"><div id="p1" class="pie-chart"></div></div>
            <div class="col-xs-1">Orders</div>
            <div class="col-xs-2 border-right"><div id="p2" class="pie-chart"></div></div>
            <div class="col-xs-1">Sources</div>
            <div class="col-xs-2"><div id="p3" class="pie-chart"></div></div>
        </div>
    </div>
</div>