{% extends '::base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Myosotis</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li ><a href="#">Usuarios<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li ><a href="#">Bugs<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-fire"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main alpha60">
        {% block content %}
            <div class="container-fluid">
                <div class="row" id="mini-charts">
                    <div class="col-md-6 col-sm-4"><h2>Dashboard Example</h2></div>
                    <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-0 hidden-xs panel sparklines">
                        <div class="row collapse in" id="bars">
                            <div class="col-xs-1 col-xs-offset-3">Hourly<br><span class="fa fa-user fa-2x"></span></div>
                            <div class="col-xs-2 border-right"><div id="bar1" class="bar-chart"></div></div>
                            <div class="col-xs-1">Daily<br><span class="fa fa-bolt fa-2x"></span></div>
                            <div class="col-xs-2 border-right"><div id="bar2" class="bar-chart"></div></div>
                            <div class="col-xs-1">Earnings<br><span class="fa fa-usd fa-2x"></span></div>
                            <div class="col-xs-2"><div id="bar3" class="bar-chart"></div></div>
                        </div>
                        <div class="row collapse" id="pies">
                            <div class="col-xs-1 col-xs-offset-3">Ratio</div>
                            <div class="col-xs-2 border-right"><div id="p1" class="pie-chart"></div></div>
                            <div class="col-xs-1">Orders</div>
                            <div class="col-xs-2 border-right"><div id="p2" class="pie-chart"></div></div>
                            <div class="col-xs-1">Sources</div>
                            <div class="col-xs-2"><div id="p3" class="pie-chart"></div></div>
                        </div>
                    </div>  
                </div>
                <div class="btn-group pull-right hidden-xs"> 
                    <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#pies" data-parent="#mini-charts">Pie charts</button>
                    <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#bars" data-parent="#mini-charts">Bar charts</button>
                </div>
                <ul class="nav nav-tabs" id="adminTab">
                    <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                    <li><a data-toggle="tab" href="#revenue">Revenue</a></li>
                    <li><a data-toggle="tab" href="#network">Network</a></li>
                </ul> 
                <div class="tab-content">
                    <div class="tab-pane active" id="summary">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Active users</h4>
                                <div class="progress" title="No. of active users on-line" data-toggle="tooltip">
                                    <div class="progress-bar progress-bar-primary" style="width:40%;"></div>
                                </div>
                                <h4>Snippets</h4>
                                <div class="progress" title="No. of code snippets" data-toggle="tooltip">
                                    <div class="progress-bar progress-bar-danger" style="width:76%;"></div>
                                </div>
                                <h4>Completed</h4>
                                <div class="progress" title="No. of completed requests" data-toggle="tooltip">
                                    <div class="progress-bar progress-bar-success" style="width:60%;"></div>
                                </div>
                                <h4>Pending</h4>
                                <div class="progress" title="No. of pending requests" data-toggle="tooltip">
                                    <div class="progress-bar progress-bar-warning" style="width:30%;"></div>
                                </div>
                            </div><!--/col-4-->
                            <div class="col-sm-8">
                                <h4 class="text-center">
                                    <div class="btn-group btn-toggle realtime"> 
                                        <button class="btn btn-xs btn-default">off</button>
                                        <button class="btn btn-xs btn-success active">live</button>
                                    </div>
                                </h4>
                                <div id="chart1" class="big-chart"></div>
                            </div><!--/col-8-->
                        </div><!--/row-->

                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="well">
                                            <h4 class="text-danger"><span class="label label-danger pull-right">- 9%</span> New Users </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="well">
                                            <h4 class="text-success"><span class="label label-success pull-right">+ 3%</span> Returning </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="well">
                                            <h4 class="text-primary"><span class="label label-primary pull-right">201</span> Sales </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="well">
                                            <h4 class="text-success"><span class="label label-success pull-right">+ 24%</span> Pageviews </h4>
                                        </div>
                                    </div>
                                </div><!--/row-->    
                            </div><!--/col-12-->
                        </div><!--/row-->

                    </div><!--/pane stats-->

                    <!--/pane rev-->
                    <div class="tab-pane" id="revenue">

                        <div class="well well-sm text-center">
                            Here are the latest revenue reports for your account.

                            <div class="btn-group btn-group-xs pull-right" data-toggle="buttons">
                                <label class="btn btn-sm btn-default">
                                    <input type="radio" name="options" id="option1"> Day
                                </label>
                                <label class="btn btn-sm btn-default">
                                    <input type="radio" name="options" id="option2"> Week
                                </label>
                                <label class="btn btn-sm btn-default active">
                                    <input type="radio" name="options" id="option3"> Month
                                </label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <h6>Peak times</h6>
                                <div id="chart2" class="line-chart"></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h6>Online vs. Direct</h6>
                                <div id="chart3" class="line-chart"></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h6>Abandoned</h6>
                                <div id="chart4" class="line-chart"></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h6>Total</h6>
                                <div id="chart5" class="line-chart"></div>
                            </div>
                        </div><!--/row-->

                        <hr>
                        <div class="table-repsonsive">
                            <table class="table table-striped">
                                <thead><tr><th>Name</th><th>Browser</th><th>Views</th><th>Date</th><th>IP Address</th></tr></thead>
                                <tbody id="listStuff">
                                    <tr><td>cell</td><td>cell</td><td>more</td><td><a href="#">link</a></td><td><a href="#"><i class="icon-tablet"></i></a></td></tr>
                                </tbody>
                            </table>  
                            <ul id="listStuffPager" class="pagination pagination-mini pager"></ul>

                        </div><!--/table div-->

                    </div><!--/pane rev-->

                    <!--/pane network-->
                    <div class="tab-pane" id="network">
                        <div class="container-fluid">
                            <h4 class="text-center">Network Statistics</h4>
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div id="donut1" class="donut"></div>
                                    <div class="donut-label">24</div>
                                    <h4 class="text-center">blocks</h4>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div id="donut2" class="donut"></div>
                                    <div class="donut-label">189</div>
                                    <h4 class="text-center">requests</h4>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div id="donut3" class="donut"></div>
                                    <div class="donut-label">4</div>
                                    <h4 class="text-center">errors</h4>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div id="donut4" class="donut"></div>
                                    <div class="donut-label">29</div>
                                    <h4 class="text-center">bursts</h4>
                                </div>
                            </div><!--/row-->

                            <hr>

                            <h4>Storage Space</h4>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-info" style="width:30%;"></div>
                            </div>
                            <h6>2.85 GB of <strong>15 GB</strong></h6>

                            <hr>

                            <h4>Bandwidth</h4>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-info" style="width:73%;"></div>
                            </div>
                            <h6>39.4 GB of <strong>50 GB</strong></h6>

                        </div><!--/container-->
                    </div><!--/pane network-->
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="javascript:;" class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="details">
                                <span class="title">Total Revenue</span>
                                <span class="sub">$103K</span>
                            </div><!--/details-->
                            <i class="fa fa-chevron-right fa-2x more"></i>
                        </a><!--/dashboard-block1-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="javascript:;" class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-tachometer"></i>
                            </div>
                            <div class="details">
                                <span class="title">Burst Speed</span>
                                <span class="sub">4K MBPS</span>
                            </div><!--/details-->
                            <i class="fa fa-chevron-right fa-2x more"></i>
                        </a><!--/dashboard-block2-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="javascript:;" class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="details">
                                <span class="title">Total Visitors</span>
                                <span class="sub">28K</span>
                            </div><!--/details-->
                            <i class="fa fa-chevron-right fa-2x more"></i>
                        </a><!--/dashboard-block3-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="javascript:;" class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="details">
                                <span class="title">New Signups</span>
                                <span class="sub">83</span>
                            </div><!--/details-->
                            <i class="fa fa-chevron-right fa-2x more"></i>
                        </a><!--/dashboard-block4-->
                    </div>
                </div><!--/row-->
            </div>

            <hr>

        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js', function () {
            $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js', function () {
                $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js', function () {

                    // styles for all charts
                    gridStyle = {borderColor: '#ddd', borderWidth: 1, hoverable: true, clickable: true};

                    // static charts
                    var d1 = [];
                    for (var i = 0; i < 14; i += 0.2) {
                        d1.push([i, Math.sin(i)]);
                    }
                    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
                    var d3 = [[0, 12], [7, 12], [12, 13]];

                    // line
                    $.plot("#chart2", [d1], {yaxis: {show: false}, xaxis: {font: '#ddd'}, grid: gridStyle, series: {color: '#f0ad4e', lines: {show: true}}});
                    $.plot("#chart3", [d2, d3], {yaxis: {show: false}, xaxis: {font: '#ddd'}, grid: gridStyle, series: {color: '#ff4444', lines: {show: true}, points: {show: true}}});
                    $.plot("#chart4", [d3], {yaxis: {show: false}, xaxis: {font: '#ddd'}, grid: gridStyle, series: {color: '#4444ff'}});
                    $.plot("#chart5", [d3, d2], {yaxis: {show: false}, xaxis: {font: '#ddd'}, grid: gridStyle, series: {color: '#55ff44', lines: {show: true}, points: {show: true}}});

                    // pie
                    $.plot("#donut1", [{data: 70, color: '#5bc0de'}, {data: 20, color: '#ddd'}], {series: {pie: {show: true, innerRadius: 0.7}}, grid: {hoverable: true}});
                    $.plot("#donut2", [{data: 20, color: '#5bc0de'}, {data: 55, color: '#ddd'}], {series: {pie: {show: true, innerRadius: 0.7}}, grid: {hoverable: true}});
                    $.plot("#donut3", [{data: 4, color: '#5bc0de'}, {data: 70, color: '#ddd'}], {series: {pie: {show: true, innerRadius: 0.7}}, grid: {hoverable: true}});
                    $.plot("#donut4", [{data: 30, color: '#5bc0de'}, {data: 70, color: '#ddd'}], {series: {pie: {show: true, innerRadius: 0.7}}, grid: {hoverable: true}});

                    // bar
                    var b1 = [[0, 3], [1, 5], [2, 2], [3, 9], [4, 10], [5, 8], [6, 6], [7, 4], [8, 2]];
                    var b2 = [[0, 3], [1, 8], [2, 5], [3, 13], [4, 10], [5, 3], [6, 5], [7, 8], [8, 2]];
                    var b3 = [[0, 1], [1, 4], [2, 4], [3, 6], [4, 7], [5, 3], [6, 5], [7, 11], [8, 9]];

                    $.plot("#bar1", [b1], {
                        series: {color: '#ffffff', bars: {show: true}},
                        bars: {lineWidth: 3, fillColor: '#000055'},
                        grid: {show: false, hoverable: true}});
                    $.plot("#bar2", [b2], {
                        series: {color: '#ffffff', bars: {show: true}},
                        bars: {lineWidth: 3, fillColor: '#57889c'},
                        grid: {show: false, hoverable: true}});
                    $.plot("#bar3", [b3], {
                        series: {color: '#ffffff', bars: {show: true}},
                        bars: {lineWidth: 3, fillColor: '#005500'},
                        grid: {show: false, hoverable: true}});

                    // pie
                    $.plot("#p1", [12, 78, 90], {series: {pie: {show: true}}, grid: {hoverable: true}});
                    $.plot("#p2", [33, 66, 8], {series: {pie: {show: true}}, grid: {hoverable: true}});
                    $.plot("#p3", [19, 34, 77], {series: {pie: {show: true}}, grid: {hoverable: true}});


                    // real-time chart
                    // we use an inline data source in the example, usually data would
                    // be fetched from a server
                    var data = [], totalPoints = 100;
                    function getRandomData() {

                        if (data.length > 0)
                            data = data.slice(1);

                        // do a random walk
                        while (data.length < totalPoints) {
                            /*$.get("https://www.random.org/integers/?num=1&min=1&max=100&col=1&base=10&format=plain&rnd=new", {}, function (results) {
                                data.push(results);
                            });*/
                            data.push(data.length);
                        }

                        // zip the generated y values with the x values
                        var res = [];
                        for (var i = 0; i < data.length; ++i) {
                            res.push([i, data[i]]);
                        }
                        return res;
                    }

                    // setup control widget
                    var updateInterval = 1000;
                    $("#updateInterval").val(updateInterval).change(function () {
                        var v = $(this).val();
                        if (v && !isNaN(+v)) {
                            updateInterval = +v;
                            if (updateInterval < 1)
                                updateInterval = 1;
                            if (updateInterval > 2000)
                                updateInterval = 2000;
                            $(this).val("" + updateInterval);
                        }
                    });

                    // realtime plot
                    var options = {
                        grid: gridStyle,
                        //series:{shadowSize:0,lines:{show:true,fill:true,fillColor:'rgba(40,200,40,.5)'},color:'#5cb85c'},
                        series: {shadowSize: 0, lines: {show: true, fill: true, fillColor: 'rgba(200,220,200,.6)'}, color: '#99bb99'},
                        yaxis: {min: 0, max: 100, font: '#ddd'},
                        xaxis: {show: true}
                    };

                    var plot = $.plot($("#chart1"), [getRandomData()], options);
                    var realTime;
                    function update() {
                        plot.setData([getRandomData()]);
                        plot.draw();
                        realTime = setTimeout(update, updateInterval);
                    }

                    update();

                    $("#chart1").bind("plothover", function (event, pos, item) {
                        $("#tooltip").remove();
                        if (item) {
                            var tooltip = item.series.data[item.dataIndex][1];
                            $('<a href="#" class="tooltip" id="tooltip">' + tooltip + '</a>')
                                    .css({
                                        top: item.pageY + 5,
                                        left: item.pageX + 5
                                    })
                                    .appendTo("body").fadeIn(200);
                        }
                    });

                    $('.realtime').click(function () {
                        var activeBtn = $(this).find(".active");

                        if (activeBtn.text() === "off") {
                            update();
                            $(this).find(":contains('off')").removeClass("btn-danger");
                        }
                        else {
                            clearTimeout(realTime);
                            $(this).find(":contains('off')").addClass("btn-danger");
                        }

                        $('.realtime>.btn').toggleClass("active btn-success");

                    });//toggle click

                });// end getScript (resize)
            });// end getScript (pie)
        });// end getScript
    </script>

{% endblock %}