{% extends 'AoshidoadminBundle:Dashboard:index.html.twig' %}

{% block users %}active{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Ultimos 10 usuarios
            </div>
            <table class="table table-condensed table-responsive table-hover">
                <tr class="info">
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Roles</th>
                    <th>Locked</th>
                </tr>
                {% for user in paginas %}
                    <tr >
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.lastLogin|date('F jS, h:i')}}</td>
                        <td>
                            {% for rol in user.roles %}
                                {% if (rol == 'ROLE_USER')  %}
                                    <span style="font-size:16px;" class="glyphicon glyphicon-user blue"></span>
                                {% endif %}
                                {% if (rol == 'ROLE_STUDENT')  %}
                                    <span style="font-size:16px; color:brown;" class="glyphicon glyphicon-apple"></span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if (user.locked) %}
                                <span style="font-size:16px; color:green;" class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span style="font-size:16px; color:brown;" class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}