<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Myosotis{% endblock %}</title>
        {% block stylesheets %}

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

            {# http://stackoverflow.com/questions/7044631/symfony2-assetic-load-images-in-css #}
            {# http://www.craftitonline.com/2011/06/symfony2-beautify-with-assetic-and-a-template-part-ii/ #}

            {#aca esta eactamente lo que necesito
            http://stackoverflow.com/questions/23447339/symfony-2-set-background-image-using-css#}

            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite'%}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body background="{% image '@AoshidowebBundle/img/background.jpg' %} {{ asset_url }} {% endimage %}">
        {% block body %}
            {% include 'AoshidowebBundle::navbar2.html.twig' %}
            <div id="wrap">
                <div class="container">
                    {% block content%}

                    {% endblock %}
                </div>
            </div>
            {% include 'AoshidowebBundle::footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}

            <!-- Jquery from GOOGLE CDN -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            {% javascripts '../app/Resources/public/jquery.popconfirm.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="/ckeditor/ckeditor.js"></script>
            
            <script>
                $(document).ready(function () {
                    //Handles menu drop down
                    $('.dropdown-menu').find('form').click(function (e) {
                        e.stopPropagation();
                    });
                });
            </script>

            <script>
                function htmlbodyHeightUpdate() {
                    var height3 = $(window).height();
                    var height1 = $('.nav').height() + 50;
                    height2 = $('.main').height();
                    if (height2 > height3) {
                        $('html').height(Math.max(height1, height3, height2) + 10);
                        $('body').height(Math.max(height1, height3, height2) + 10);
                    }
                    else
                    {
                        $('html').height(Math.max(height1, height3, height2));
                        $('body').height(Math.max(height1, height3, height2));
                    }

                }
                $(document).ready(function () {
                    htmlbodyHeightUpdate();
                    $(window).resize(function () {
                        htmlbodyHeightUpdate();
                    });
                    $(window).scroll(function () {
                        height2 = $('.main').height();
                        htmlbodyHeightUpdate();
                    });
                });
            </script>

        {% endblock %}
    </body>
</html>
