<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

            {% stylesheets '../app/Resources/public/css/style.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body background="{% image '@AoshidowebBundle/img/background.jpg' %} {{ asset_url }} {% endimage %}">
        {% block body %}
            <div id="wrap">
                {% include 'AoshidowebBundle::navbar.html.twig' %}
                <div class="container">
                    {% block content%}

                    {% endblock %}
                </div>
            </div>
            {% include 'AoshidowebBundle::footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}

            <!-- Jquery from GOOGLE CDN -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <script>
                var $collectionHolder;

                // setup an "add a tag" link
                var $addTagLink = $('<a href="#" class="add_tag_link">Agregar Tema</a>');
                var $newLinkLi = $('<div></div>').append($addTagLink);

                jQuery(document).ready(function () {
                    // Get the ul that holds the collection of tags
                    $collectionHolder = $('div#temas');

                    // add a delete link to all of the existing tag form li elements
                    $collectionHolder.find('div#temaCont').each(function () {
                        addTagFormDeleteLink($(this));
                    });

                    // add the "add a tag" anchor and li to the tags ul
                    $collectionHolder.append($newLinkLi);

                    // count the current form inputs we have (e.g. 2), use that as the new
                    // index when inserting a new item (e.g. 2)
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    $addTagLink.on('click', function (e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // add a new tag form (see next code block)
                        addTagForm($collectionHolder, $newLinkLi);
                    });
                });
                
                function addTagFormDeleteLink($tagFormLi) {
                    var $removeFormA = $('<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></button>');
                    $tagFormLi.append($removeFormA);

                    $removeFormA.on('click', function (e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // remove the li for the tag form
                        $tagFormLi.remove();
                    });
                }

                function addTagForm($collectionHolder, $newLinkLi) {
                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolder.data('prototype');

                    // get the new index
                    var index = $collectionHolder.data('index');

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, index);
                    
                    newForm = newForm.replace(/label><input/g, 'label><div class="col-md-8"><input');
                    
                    newForm = newForm.replace(/<\/​div><\/​div>/g, '</div></div></div>');

                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi = $('<div class="form-group"></div>').append(newForm);
                    $newLinkLi.before($newFormLi);
                    
                    // add a delete link to the new form
                    addTagFormDeleteLink($newFormLi);
                }
            </script>
        {% endblock %}
    </body>
</html>
