<div id="temaCont" class="form-group">
    {{ form_label(form.descripcion,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }} 
    <div class="col-md-6">
        {{ form_widget(form.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }} 
    </div>
</div>
<div  class="form-group">
    {{ form_label(form.aniocarrera,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }} 
    <div class="col-md-6">
        {{ form_widget(form.aniocarrera,{ 'attr' : { 'class' : 'form-control' } }) }} 
    </div>
</div>
