
    <td >
        {{ form_label(form.descripcion,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }} 
    </td>    
    <td>
        {{ form_widget(form.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }} 
    </td>
    <td>
        {{ form_label(form.aniocarrera,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }} 
    </td>    
    <td >
        {{ form_widget(form.aniocarrera,{ 'attr' : { 'class' : 'form-control' } }) }} 
    </td>
