/* stackoverflow.com/questions/18730116/twitter-bootstrap-3-0-how-do-i-badge-badge-important-now */
.label-as-badge {
    border-radius: 0.5em;
}

.green {
    color: greenyellow;
}
.red {
    color: red;
}
.blue {
    color: dodgerblue;
}

.login_bckg{
    background-color: rgb(50, 50, 50);
    color: rgb(175,175,175);
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.card_back{
    background-image: url("/images/Myosotis1.jpg");
    background-size: 100% 100%;
    background-position-x: 0px;
    background-position-y: 0px;
    //border-radius: 5%;
}

.card_back_text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 75px;
    left: 20px;
    width: 160px;
    height: 100px;
}

.card_front{
    background-image: url("/images/Myosotis1.jpg");
    background-size: 100% 100%;
    background-position-x: 0px;
    background-position-y: 0px;
    /*padding-top: 5%;
    text-align: center;
    font-weight: bold;
    border-radius: 5%;*/
}

.card_club{
    background-image: url("/img/card_frontCLUB.jpg");
}
.card_heart{
    background-image: url("/img/card_frontHERT.jpg");
}
.card_diam{
    background-image: url("/img/card_frontDIAM.jpg");
}
.card_spade{
    background-image: url("/img/card_frontSPAD.jpg");
}

.card_answer{
    position: absolute;
    top: 75px;
    left: 20px;
    width: 160px;
    height: 100px;
}

.footer_text{
    text-align: center;
    vertical-align: middle;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
    color: white;
    font-size: 10px;
    font-style: italic;
    height: 30px;
    background-color: #000000;
    border-radius: 0%;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-submenu {
    margin-left:20px;
}

/***********************************************/

.breadcrumb > li + li:before {
    color: #ccc;
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    padding: 0 5px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.social-buttons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.social-buttons li {
    display: inline-block;
}