<div id="footer">
    <div class="footer_text">
        <p>me@Aoshido.com.ar / <a href="http://symfony.com/">Symfony</a> /  <a href="http://getbootstrap.com/">Bootstrap</a> / <a href="http://glyphicons.com/">Glyphicons</a> 2014-2015 </p>
    </div>
</div>