<div class="navbar navbar-inverse navbar-fixed-bottom" style="height:15px; min-height: 15px">
    <div class="container-fluid text-center footer_text">
        <p>me@Aoshido.com / <a href="http://symfony.com/">Symfony</a> /  <a href="http://getbootstrap.com/">Bootstrap</a> / <a href="http://glyphicons.com/">Glyphicons</a> 2014-2015 </p>
    </div>
</div>