<div id="buttonsSocial" class="">
    <div class="facebook buttonSocial">
        <i class="icon-facebook"></i>
        <div class="social-container fb">
            <div class="slide">
                <iframe 
                    src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmyosotis.aoshido.com.ar%2Fdocs%2Freference%2Fplugins%2Flike&amp;
                    send=false&amp;
                    layout=button_count&amp;
                    width=90&amp;
                    show_faces=false&amp;
                    font&amp;
                    colorscheme=light&amp;
                    action=like&amp;
                    height=21&amp;
                    appId=568581339861351" 
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:81px; height:21px;" allowtransparency="true">
                </iframe>
            </div>
            Facebook
        </div>
    </div>
    <div class="twitter buttonSocial">
        <i class="icon-twitter"></i>
        <div class="social-container tw">
            <div class="slide">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="Aoshido">
                    Tweet </a>

            </div>
            Twitter
        </div>
    </div>
    <div class="google buttonSocial">
        <i class="icon-google-plus"></i>
        <div class="social-container tw">
            <div class="slide">
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="medium">
                </div>
            </div>
            Google+
        </div>
    </div>
</div>