{% extends '::base.html.twig' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Creditos</h1>
        <ul>
            <li>http://www.bootply.com/jquery/fe4AfcEnKD</li>
            <li>http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html</li>
        </ul>
    </div>
{% endblock %}