{% extends '::base.html.twig' %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        {% block breadcrumbs %}
            <ul class="breadcrumb">
                <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
                <li>Acerca / Creditos </li>
            </ul>
        {% endblock %}

        <h1>Creditos</h1>
        <marquee scrollamount="2" scrolldelay="100" direction="up" style="overflow-y:scroll; max-height: 200px">
            <ul>
                <li><a href="http://www.bootply.com/jquery/fe4AfcEnKD">http://www.bootply.com/jquery/fe4AfcEnKD</a></li>
                <li><a href="https://fortawesome.github.io/Font-Awesome/">https://fortawesome.github.io/Font-Awesome/</a></li>
                <li><a href="http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html">http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html</a></li>
                <li><a href="https://github.com/Ifnot/PopConfirm">https://github.com/Ifnot/PopConfirm</a></li>
                <li><a href="http://showmethecode.es/php/symfony/symfony2-4-dependent-forms/">http://showmethecode.es/php/symfony/symfony2-4-dependent-forms/</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/admin-nav-bar-with-popup-sign-in">http://bootsnipp.com/snippets/featured/admin-nav-bar-with-popup-sign-in</a></li>
                <li><a href="http://davidwalsh.name/css-flip">http://davidwalsh.name/css-flip</a></li>
                <li><a href="http://www.colorcombos.com/index.html">http://www.colorcombos.com/index.html</a></li>
                <li><a href="https://icons8.com/">https://icons8.com/</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/people-card-with-tabs">http://bootsnipp.com/snippets/featured/people-card-with-tabs</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/custom-search-input">http://bootsnipp.com/snippets/featured/custom-search-input</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/bug-submission-with-screenshot">http://bootsnipp.com/snippets/featured/bug-submission-with-screenshot</a></li>
                <li><a href="http://www.jamesmandrews.com/2012/10/31/symfony-2-entity-timestamps-with-doctrine/">http://www.jamesmandrews.com/2012/10/31/symfony-2-entity-timestamps-with-doctrine/</a></li>
                <li><a href="http://ckeditor.com/">http://ckeditor.com/</a></li>
                <li><a href="http://www.bootstrap-switch.org/">http://www.bootstrap-switch.org/</a></li>
                <li><a href="http://stackoverflow.com/questions/3279523/base64-images-to-gmail/12786336#12786336">http://stackoverflow.com/questions/3279523/base64-images-to-gmail/12786336#12786336</a></li>
                <li><a href="http://designscrazed.org/html-css3-social-media-buttons/">http://designscrazed.org/html-css3-social-media-buttons/</a></li>
                <li><a href="http://codepen.io/mariusbalaj/pen/JExFk">http://codepen.io/mariusbalaj/pen/JExFk</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/full-clickable-panel-heading">http://bootsnipp.com/snippets/featured/full-clickable-panel-heading</a></li>
                <li><a href="http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3">http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3</a></li>
                <li><a href="http://stackoverflow.com/questions/5004233/jquery-ajax-post-example-with-php">http://stackoverflow.com/questions/5004233/jquery-ajax-post-example-with-php</a></li>
                <li><a href="https://coderwall.com/p/5cvwyq/fix-pixelated-font-icons-in-chrome-on-windows">https://coderwall.com/p/5cvwyq/fix-pixelated-font-icons-in-chrome-on-windows</a></li>
                <li><a href="https://www.google.com.ar/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=bootstrap%20percentage%20circle">https://www.google.com.ar/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=bootstrap%20percentage%20circle</a></li>
                <li><a href="https://github.com/scttnlsn/dandelion">https://github.com/scttnlsn/dandelion</a></li>
                <li><a href="https://github.com/kni-labs/rrssb">https://github.com/kni-labs/rrssb</a></li>
                <li><a href="https://gist.github.com/webdevilopers/4eea317ade72a119a72e">https://gist.github.com/webdevilopers/4eea317ade72a119a72e</a></li>
                <li><a href="https://www.vectoropenstock.com/vectors/preview/99920/green-vector-leaves">https://www.vectoropenstock.com/vectors/preview/99920/green-vector-leaves</a></li>
                <li><a href="http://www.colorzilla.com/gradient-editor/">http://www.colorzilla.com/gradient-editor/</a></li>
                <li><a href="https://kimmobrunfeldt.github.io/progressbar.js/">https://kimmobrunfeldt.github.io/progressbar.js/</a></li>
                <li><a href="http://codepen.io/mariusbalaj/pen/MaEdpx</li> ">http://codepen.io/mariusbalaj/pen/MaEdpx</li> </a><!--Adblocker-->
                <li><a href="http://bootsnipp.com/snippets/featured/breadcrumb-hr-horizontal-rule">http://bootsnipp.com/snippets/featured/breadcrumb-hr-horizontal-rule</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/panels-with-nav-tabs">http://bootsnipp.com/snippets/featured/panels-with-nav-tabs</a></li>
                <li><a href="https://github.com/niklasvh/html2canvas/issues/265">https://github.com/niklasvh/html2canvas/issues/265</a></li>
                <li><a href="http://lab.hakim.se/scroll-effects/">http://lab.hakim.se/scroll-effects/</a></li>
                <li><a href="http://www.web2feel.com/freeby/scroll-effects/index.html">http://www.web2feel.com/freeby/scroll-effects/index.html</a></li>
                <li><a href="http://ninodezign.com/30-jquery-plugins-for-scrolling-effects-with-css-animation/">http://ninodezign.com/30-jquery-plugins-for-scrolling-effects-with-css-animation/</a></li>
                <li><a href="https://codyhouse.co/demo/page-scroll-effects/scaledown-hijacking.html">https://codyhouse.co/demo/page-scroll-effects/scaledown-hijacking.html</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/email-template">http://bootsnipp.com/snippets/featured/email-template</a></li>
                <li><a href="http://foundation.zurb.com/emails.html">http://foundation.zurb.com/emails.html</a></li>
                <li><a href="http://bootsnipp.com/snippets/QxZm1 o http://bootsnipp.com/snippets/featured/dynamic-form-fields-add-amp-remove-bs3">http://bootsnipp.com/snippets/QxZm1 o http://bootsnipp.com/snippets/featured/dynamic-form-fields-add-amp-remove-bs3</a></li>
                <li><a href="http://www.bootply.com/ahmetmeral/Hm32LWxL92">http://www.bootply.com/ahmetmeral/Hm32LWxL92</a></li>
                <li><a href="http://bootsnipp.com/snippets/featured/colored-modal-headings">http://bootsnipp.com/snippets/featured/colored-modal-headings</a></li>
                <li><a href="http://stackoverflow.com/questions/29168107/how-to-fill-a-rich-text-editor-field-for-a-codeception-acceptance-test">http://stackoverflow.com/questions/29168107/how-to-fill-a-rich-text-editor-field-for-a-codeception-acceptance-test</a></li>
                    {#
                    
                    
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>#}
            </ul>
        </marquee>
    </div>
{% endblock %}
