{% extends '::base.html.twig' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Creditos</h1>
        <ul>
            <li>http://www.bootply.com/jquery/fe4AfcEnKD</li>
            <li>http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html</li>
            <li>https://github.com/Ifnot/PopConfirm</li>
            <li>http://showmethecode.es/php/symfony/symfony2-4-dependent-forms/</li>
            <li>http://bootsnipp.com/snippets/featured/admin-nav-bar-with-popup-sign-in</li>
            <li>http://davidwalsh.name/css-flip</li>
            <li>http://www.colorcombos.com/index.html</li>
            <li>https://icons8.com/</li>
            <li>http://bootsnipp.com/snippets/featured/people-card-with-tabs</li>
            <li>http://bootsnipp.com/snippets/featured/custom-search-input</li>
            <li>http://bootsnipp.com/snippets/featured/bug-submission-with-screenshot</li>
            <li>http://www.jamesmandrews.com/2012/10/31/symfony-2-entity-timestamps-with-doctrine/</li>
            <li>http://ckeditor.com/</li>
            <li>http://www.bootstrap-switch.org/</li>
            <li>http://stackoverflow.com/questions/3279523/base64-images-to-gmail/12786336#12786336</li>
            <li>http://designscrazed.org/html-css3-social-media-buttons/</li>
            <li>http://codepen.io/mariusbalaj/pen/JExFk</li>
            <li>http://bootsnipp.com/snippets/featured/full-clickable-panel-heading</li>
        </ul>
        <h1>To Do:</h1>
        <ul>
            <li>http://codepen.io/mariusbalaj/pen/MaEdpx</li> <!--Adblocker-->
            <li>http://bootsnipp.com/snippets/featured/breadcrumb-hr-horizontal-rule</li>
            <li>http://bootsnipp.com/snippets/featured/panels-with-nav-tabs</li>
        </ul>
    </div>
{% endblock %}