{% extends '::base.html.twig' %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        {% block breadcrumbs %}
            <ul class="breadcrumb">
                <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
                <li>Acerca / Creditos </li>
            </ul>
        {% endblock %}
        <h1>Creditos</h1>
        <div style="overflow-y:scroll; max-height: 100px">
            <ul>
                <li>http://www.bootply.com/jquery/fe4AfcEnKD</li>
                <li>https://fortawesome.github.io/Font-Awesome/</li>
                <li>http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html</li>
                <li>https://github.com/Ifnot/PopConfirm</li>
                <li>http://showmethecode.es/php/symfony/symfony2-4-dependent-forms/</li>
                <li>http://bootsnipp.com/snippets/featured/admin-nav-bar-with-popup-sign-in</li>
                <li>http://davidwalsh.name/css-flip</li>
                <li>http://www.colorcombos.com/index.html</li>
                <li>https://icons8.com/</li>
                <li>http://bootsnipp.com/snippets/featured/people-card-with-tabs</li>
                <li>http://bootsnipp.com/snippets/featured/custom-search-input</li>
                <li>http://bootsnipp.com/snippets/featured/bug-submission-with-screenshot</li>
                <li>http://www.jamesmandrews.com/2012/10/31/symfony-2-entity-timestamps-with-doctrine/</li>
                <li>http://ckeditor.com/</li>
                <li>http://www.bootstrap-switch.org/</li>
                <li>http://stackoverflow.com/questions/3279523/base64-images-to-gmail/12786336#12786336</li>
                <li>http://designscrazed.org/html-css3-social-media-buttons/</li>
                <li>http://codepen.io/mariusbalaj/pen/JExFk</li>
                <li>http://bootsnipp.com/snippets/featured/full-clickable-panel-heading</li>
                <li>http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3</li>
                <li>http://stackoverflow.com/questions/5004233/jquery-ajax-post-example-with-php</li>
                <li>https://coderwall.com/p/5cvwyq/fix-pixelated-font-icons-in-chrome-on-windows</li>
            </ul>
        </div>
        <h1>To Do:</h1>
        <div style="overflow-y:scroll; max-height: 100px">
            <ul>
                <li>http://codepen.io/mariusbalaj/pen/MaEdpx</li> <!--Adblocker-->
                <li>http://bootsnipp.com/snippets/featured/breadcrumb-hr-horizontal-rule</li>
                <li>http://bootsnipp.com/snippets/featured/panels-with-nav-tabs</li>
                <li>https://github.com/niklasvh/html2canvas/issues/265</li>
                <li>http://lab.hakim.se/scroll-effects/</li>
                <li>http://www.web2feel.com/freeby/scroll-effects/index.html</li>
                <li>http://ninodezign.com/30-jquery-plugins-for-scrolling-effects-with-css-animation/</li>
                <li>https://codyhouse.co/demo/page-scroll-effects/scaledown-hijacking.html</li>
                <li>http://blog.templatemonster.com/demos/webpage-scrolling-animation-effects-with-css3-jquery/demo/index.html</li>
                <li>http://www.christianscheb.de/archives/513</li>
                <li>-->>>>>> this http://bootsnipp.com/snippets/featured/modal-quiz-with-radio-button</li>
                <li>http://bootsnipp.com/snippets/featured/email-template</li>
                <li>http://foundation.zurb.com/emails.html</li>
                <li>http://bootsnipp.com/snippets/QxZm1 o http://bootsnipp.com/snippets/featured/dynamic-form-fields-add-amp-remove-bs3</li>
                <li>http://codepen.io/minimalmonkey/pen/Ecpla/</li>
                <li>http://www.bootply.com/ahmetmeral/Hm32LWxL92</li>
                <li>http://bootsnipp.com/snippets/featured/colored-modal-headings</li>
                {#<li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>#}
            </ul>
        </div>
    </div>
{% endblock %}
