{% extends '::base.html.twig' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Creditos</h1>
        <ul>
            <li>http://www.bootply.com/jquery/fe4AfcEnKD</li>
            <li>http://chmielot.blogspot.com.ar/2013/02/symfony2-customize-output-of-expanded.html</li>
            <li>https://github.com/Ifnot/PopConfirm</li>
            <li>http://showmethecode.es/php/symfony/symfony2-4-dependent-forms/</li>
            <li>http://bootsnipp.com/snippets/featured/admin-nav-bar-with-popup-sign-in</li>
            <li>http://davidwalsh.name/css-flip</li>
            <li>http://www.colorcombos.com/index.html</li>
            <li>https://icons8.com/</li>
        </ul>
    </div>
{% endblock %}