{% extends '::base.html.twig' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Creditos</h1>
        <ul>
            <li>http://www.bootply.com/jquery/fe4AfcEnKD</li>
        </ul>
    </div>
{% endblock %}