{% extends '::base.html.twig' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Utnianos!</h1>
        <p>Esta pagina nacio con la intencion de ayudar a estudiar (o quizas memorizar mejor)
        todos esos millones y millones de verdaderos o falsos, multiples choices, conceptos y
        demas cuestiones tan necesarias para aprobar.</p>
        <h2>Modos:</h2>
    </div>
{% endblock %}