{% extends "AoshidoUserBundle::layout_complete.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="jumbotron alpha60 container-fluid">
        <p>
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
    </div>
{% endblock %}
